groq
langchain_openai
langchain-core
pydantic
langchain_core
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-core
langchain-community
defusedxml 
langchain_groq
langchain_openai
langchain_community
arxiv 
pymupdf
langchain_aws